*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  background-color: #242424;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-wrapper {
  border: 1px solid white;
  padding: 0 40px 30px;
  border-radius: 16px;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-wrapper h2 {
  padding-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  text-align: left;
  width: 100%;
}

.form-row label {
  width: 100%;
}

input,
.saved-item {
  width: 100%;
  max-height: 200px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

input {
  background-color: #383838;
  color: white;
}

.saved-item {
  min-height: 40px;
  font-weight: 800;
}

textarea {
  background-color: #383838;
  border-radius: 8px;
  padding: 5px 10px;
  color: white;
  width: 100%;
  max-width: 618px;
  max-height: 200px;
}

.entry-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}